
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900|Roboto:100|Rozha+One');

/* Variables */

:root {
    --font-size-large: 40px;
    --font-size-medium: 20px;
    --font-family-Rozha: 'Rozha One', serif;
    --font-family-Roboto: 'Roboto', sans-serif;
    --font-family-Raleway: 'Raleway:900', sans-serif;
}

/* Main */

* {
	box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgba(235, 235, 235, 0.9);
}

header {
    padding: 15px 5px 5px;
}

.header-inner-container,
/* .quote-button-container  */
{
    max-width: 1180px;
    margin: auto;
}

header h1 {
    /* font-size: 1.25em; */
    font-size: var(--font-size-large);
    color: rgba(50, 50, 50, 0.9);
    margin-top: 35px;
}



/* ==== Quotes Box ==== */

.image {
    position: relative;
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}

div > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    /* min-height: 100%;
    min-width: 100%; */
    transform: translate(-50%, -50%);
}

.imageBox {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5%;
}

.quotes-container {
    position: relative;
    width: 100%;
}

/* disabled in html */
.quotes-border {
    /* position: relative; */
    border-style: solid;
    /* margin: 25px; */
    width: 70%;
    height: 150px;
    margin: auto;
    /* clear: left; display: block; */
    display: flex;
}

.quote-button-container{
    width: 70%;
}

.quotes-inner-container {
    position: relative;
    height: 40%;
    width: 100%;
    background-color: rgba(216, 215, 215, 0.9);
    display: flex;
}

#quoteBox {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
    font-size: var(--font-size-medium);
    color: white;
    
}

.buttonDiv {
    background-color: rgba(182, 182, 182, 0.9);
}

.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    vertical-align: center;
    font-size: 10px;
    font-family: var(--font-family-Raleway);
    padding-left: 30px;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 10px;
    margin: 0;
    padding: 10px;
}

.year {
    font-style: italic;
}

.citation, .link{
    font-size: 10px;
}

.quote {
    font-family: var(--font-family-Rozha);
    font-size: 30px;
    color: rgb(68, 100, 158)
}

.citation, .pSY, .link {
    text-align: right;
}

a:link {
    color: red;
}

a:visited {
    color: red;
}


/* ===================================== 
   Media Queries
======================================== */

/* ===================================== 
   Tablet
======================================== */

@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    /* .quotes-inner-container{
        padding-right: 25px;
        padding-left: 25px;
    } */

    .header-text-container,
    .quotes-container {
        text-align: left;
    }

    .modal {
        margin-top: 100px;
    }

    .image {
        position: relative;
        height: auto; 
        width: auto; 
        min-width: 100px; 
        min-height: 100px;
    }
}

/* ===================================== 
   Desktop
   Hover styles on desktop 
======================================== */

@media (min-width: 1024px) {

}